<!DOCTYPE html>
<html>
  <head>
    <title>Burbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <img src="/assets/tree.png" alt="Tree Image">
  </div>

    <%= yield %>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6LM1YiZNO8S1FixZXf9hKfAP2KS-V2w4&callback=initMap"
  type="text/javascript"></script>
  </body>
</html>
