<!DOCTYPE html>
<html>
  <head>
    <title>Burbs</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <meta charset="UTF-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <div class="header">
    <img src="/assets/oak-tree.png" class="tree" alt="Tree Image">
    <div class="logo1" class="fadeIn">burbs</div>
    <div class="logo2" class="fadeIn">burbs</div>
    <div class="logo3"><span>burbs</span></div>

  </div>

  <div class="body">
 

    <%= yield %>
    <div class="footer">
    
    </div>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6LM1YiZNO8S1FixZXf9hKfAP2KS-V2w4&callback=initMap"async defer
  type="text/javascript"></script>
 </div>
  </body>
</html>
